<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
  <%- partial('_partial/head',{cache: true}) %>
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/rubiks-cube.css">
</head>

<body>
  <div class="wrapper">
    <%- partial('_partial/header',{cache: true}) %>
    <div class="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer',{cache: true}) %>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</body>

</html>
